<p id="notice"><%= notice %></p>

<h1>社員一覧</h1>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>入社年</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.year %></td>
        <td><%= link_to '詳細', employee %></td>
        <td><%= link_to '編集', edit_employee_path(employee) %></td>
        <td><%= link_to '削除', employee, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_employee_path %> |
<%= link_to '販売一覧', controller: :sales, action: :index %>
